.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
  margin-bottom: 2vh;
}

.inputLabel {
  width: 8vw;
}

.select {
  height: 4vh;
  width: 100%;
}

