.root {
  width: 80%;
  height: 50px;
  background-color: var(--white);
  color: #494f55;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  border: 1px solid var(--gray-400);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.input {
  color: var(--gray-400);
  font-size: 16px;
  font-weight: 400;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 80%;
}
