.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: flex-start;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.input {
  flex-basis: 80%;
  height: 5vh;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  justify-content: end;
}


