.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: var(--white-50);
}

.button {
  background-color: var(--white-50);
  color: var(--gray-700);
}

.calendar {
  background-color: var(--primary-300);
}
