.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 10vw;
  color: var(--white);
  border-radius: 4px;
  font-size: 1rem;
}

.buttonContent {
  flex-basis: 80%;
}

.icon {
  flex-basis: 20%;
}

.primary {
  background-color: var(--primary-500);
}

.primary:hover {
  background-color: var(--primary-700);
}

.cancel {
  background-color: var(--gray-500);
}

.cancel:hover {
  background-color: var(--gray-600);
}

.warning {
  background-color: var(--warning-500);
}

.warning:hover {
  background-color: var(--warning-700);
}
