.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}

.root {
}

.managerBG {
  background-color: var(--red-400);
}

.adminBG {
  background-color: var(--primary-400);
}

.staffBG {
  background-color: var(--success-400);
}
